

<div class="row d-flex justify-content-center align-items-center h-100">
	<div class="col text-center">
		<div class="text-white">
			<h1>Paralax Dungeon</h1>
		</div>
		<div class="py-3">
			<a type="button" asp-action="Index" asp-controller="Monster" class="btn btn-danger btn-lg">ENTER</a>
		</div>
	</div>
</div>